<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Car Shop</title>
</head>
<body>
    <ul class="cars">
        <li class="cars__item car">
            <a href="" class="car__logo">
                <img src="images/content/car1.png" alt="Backen Ponevira">
                <ul class="car__labels label">
                    <li class="label__item label__item-advise">Мы советуем</li>
                    <li class="label__item label__item-new">Новинка</li>
                </ul>
            </a>
            <div class="car__info">
                <h3 class="car__name">Backen Ponevira</h3>
                <div class="car__description">Люксовый автомобиль, который сумел объединить в себе несочетаемое: мощность и комфорт, динамику и экономичность, бизнес и поездки с семьей.</div>
                <div class="car__details">
                    <dl class="details">
                        <dt class="details__name">Мощность, л.с. <span class="hyphen">—</span></dt>
                        <dd class="details__value">440</dd>
                    </dl>
                    <dl class="details">
                        <dt class="details__name">Объем двигателя, куб. см. <span class="hyphen">—</span></dt>
                        <dd class="details__value">2894</dd>
                    </dl>
                    <dl class="details">
                        <dt class="details__name">Разгон до 100 км/ч, <span class="hyphen">—</span></dt>
                        <dd class="details__value">4.4</dd>
                    </dl>
                </div>
            </div>
            <div class="car__acquisition">
                <div class="car__additional-info additional-info">
                    <div class="additional-info__info-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                          
                    </div>
                    <div class="additional-info__info">Немецкая сборка</div>
                </div>
                <form class="car__quantity">
                <div class="car__status car__status-wait">Ожидается</div>
                <div class="car__price">от 6 218 000 р.</div>
                <div class="car__old-price"></div>
                    <div class="car__counter counter">
                        <div class="counter__item counter__item-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>                         
                        </div>
                        <input type="text" pattern="^[0-9]+$" class="counter__input" value="1" name="car-1" disabled>
                        <div class="counter__item counter__item-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                    </div>
                    <div class="car__add-action">
                        <a href="#" class="btn">В корзину</a>
                    </div>
                </form>
                
            </div>
        </li>
        <li class="cars__item car">
            <a href="" class="car__logo">
                <img src="images/content/car2.png" alt="Backen Ponevira">
                <ul class="car__labels label">
                    <li class="label__item label__item-stock">Акция</li>
                    <li class="label__item label__item-advise">Мы советуем</li>
                    <li class="label__item label__item-new">Новинка</li>
                    <li class="label__item label__item-hit">Хит</li>
                </ul>
            </a>
            <div class="car__info">
                <h3 class="car__name">Backen Mocen</h3>
                <div class="car__description">Спортивный кроссовер для тех, кто предпочитает быть всегда первым – эффектный вид, полный привод, возвышенная посадка и мощный двигатель.</div>
                <div class="car__details">
                    <dl class="details">
                        <dt class="details__name">Мощность, л.с. <span class="hyphen">—</span></dt>
                        <dd class="details__value">360</dd>
                    </dl>
                    <dl class="details">
                        <dt class="details__name">Объем двигателя, куб. см. <span class="hyphen">—</span></dt>
                        <dd class="details__value">2997</dd>
                    </dl>
                    <dl class="details">
                        <dt class="details__name">Разгон до 100 км/ч, <span class="hyphen">—</span></dt>
                        <dd class="details__value">5.2</dd>
                    </dl>
                </div>
            </div>
            <div class="car__acquisition">
                <div class="car__additional-info additional-info">
                    <div class="additional-info__info-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                         
                    </div>
                    <div class="additional-info__info">Прямая поставка из Германии</div>
                </div>
                <form class="car__quantity">
                <div class="car__status car__status-stock">В наличии</div>
                <div class="car__price">от 5 506 000 р.</div>
                <div class="car__old-price">5 720 000 р.</div>
                    <div class="car__counter counter">
                        <div class="counter__item counter__item-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>                         
                        </div>
                        <input type="text" pattern="^[0-9]+$" class="counter__input" value="1" name="car-1" disabled>
                        <div class="counter__item counter__item-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                    </div>
                    <div class="car__add-action">
                        <a href="#" class="btn">В корзину</a>
                    </div>
                </form>
            </div>
        </li>
    </ul>
<script src="assets/js/counter.js"></script>
</body>
</html>