/*===============================common styles==============================*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    color: #777;
}
h1 {

}
h2 {

}
h3 {

}
p {

}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
a:hover {

}
img {
    max-width:100%;
}
/*===============================cars==============================*/
.cars {
}
.cars__item:not(:last-child) {
    border-bottom: 1px solid #f5f6f9;
}
@media (max-width: 480px) {
    .cars__item:not(:last-child) {
        border-bottom: 0;
    }
}
/*------------------------------car-----------------------------------*/
.car {
    box-sizing: border-box;
    display: flex;
    padding: 24px 26px 21px 26px;
    width: 720px;    
}
@media (max-width: 480px) {
    .car {
        display: block;
        padding: 36px 0 36px 52px;
        width: 480px;
    }
}
.car__logo {
    flex: none;
    position: relative;
}
.car__logo-img {
    display: block;
    width: 116px;
}
@media (max-width: 480px) {
    .car__logo-img {
        padding: 0 0 28px;
        width: 378px;
    }
}
.car__labels {
    left: 0;
    position: absolute;
    top: 0;
}
.car__info {
    margin: 2px 63px 0 24px;
}
@media (max-width: 480px) {
    .car__info {
        margin: 2px 0 34px;
    }
}
.car__name {
    color: #333;
    font-size: 12px;
    padding: 0 0 10px;
}
@media (max-width: 480px) {
    .car__name {
        color: #333;
        font-size: 16px;
        padding: 0 0 20px;
    }
}
.car__description {
    font-size: 9px;
    line-height: 15px;
    padding: 0 0 18px;
}
@media (max-width: 480px) {
    .car__description {
        font-size: 13px;
        line-height: 19px;
        padding: 0 40px 19px 0;
    }
}
.car__details {

}
.car__acquisition {
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .car__acquisition {
       display: block; 
    }
}

.car__quantity {
    width: 139px;
    margin-right: 1px;
}

@media (max-width: 480px) {
    .car__quantity {
        width: 193px;  
    }
}
.car__status {
}
.car__price {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin: 12px 0 0;
}
@media (max-width: 480px) {
    .car__price {
        font-size: 17px;
        margin: 18px 0 0;
    }
}
.car__old-price {
    color: #333;
    margin: 7px 0 16px;
    text-decoration: line-through;
}
@media (max-width: 480px) {
    .car__old-price {
        font-size: 13px;
        margin: 9px 0 14px 2px;
        text-decoration: line-through;
    }
}
.car__add-action {

    
}
.btn {
    border: none;
    background-color: #2b7de0;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 8px;
    padding: 9px 0 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    width:100%
}
@media (max-width: 480px) {
    .btn { 
        font-size: 12px;
        padding: 11px 0 11px 0;
    }
}
.btn:hover {
    background-color: #4289e0;
}
.btn:active, 
.btn:focus {
    outline: none;
}
.car__additional-info {

}
/*------------------------------status-----------------------------------*/
.status__item {
    font-size: 8px;
    text-transform: uppercase;
   }
@media (max-width: 480px) {
    .status__item {
        font-size: 11px;
    }
}
.status__item--wait {
       color: #f28c29;
}
.status__item--stock {
       color: #5fa800;
}
@media (max-width: 480px) {
    .status__item--stock {
        color: #62c34b;
    }
}
/*------------------------------label-----------------------------------*/
.label {
}
.label__item {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 0 0 2px 0;
}

@media (max-width: 480px) {
    .label__item {
        font-size: 12px;
        margin: 0 2px 2px 0;
        padding: 7px 8px 7px 9px;
    }
}
.label__item--advise {
    background-color: #7558cd;
    padding: 5px 7px 5px 6px;
}
@media (max-width: 480px) {
    .label__item--advise {
        padding: 7px 9px 7px 8px;
    }
}
.label__item--new {
    background-color: #62c34b;
    padding: 6px 8px 5px 6px;
}
@media (max-width: 480px) {
    .label__item--new {
        padding: 7px 9px 7px 8px;
    }
}
.label__item--stock {
    background-color: #f7d33b;
    color: #333;
    padding: 6px 6px 5px 6px;
}
@media (max-width: 480px) {
    .label__item--stock {
        padding: 7px 9px 7px 8px;
    }
}
.label__item--hit {
    background-color: #e74650;
    padding: 6px 7px 6px 6px;
}
@media (max-width: 480px) {
    .label__item--hit {
        padding: 7px 8px 7px 8px;
    }
}
/*------------------------------details-----------------------------------*/
.details {
    font-size: 9px;
    padding: 0 0 7px;
}
@media (max-width: 480px) {
    .details {
        font-size: 13px;
        line-height: 21px;
        padding: 0;
    }
}
.details__name {
    float:left; 
}
.details__name::after {
    content: "—";
    padding: 0 7px 0;
}
.details__value {
    color: #333;
}
@media (max-width: 480px) {
    .details__name::after {
        padding: 0 12px 0;
    }
}
/*------------------------------counter-----------------------------------*/
.counter {
    align-items: center;
    background-color: #f8f9fb;
    border: 1px solid #f0f0f1;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 2px;
    padding: 6px 7px 6px 5px;
}
@media (max-width: 480px) {
    .counter {
        margin: 20px 0 5px;
        padding: 8px 11px 7px 9px;
    }
}
.counter__item-icon {
    color: #777;
    width: 9px;
    height: 9px;
}

@media (max-width: 480px) {
    .counter__item-icon{
        width: 15px;
        height: 15px;
    }
}
.counter__item-icon:hover {
    color: #2b7de0;  
    cursor: pointer;
}
.counter__input {
    background-color: #f8f9fb;
    border: 0;
    min-width: 20px;
    text-align: center;
    font-size: 9px;
}
.counter__input:active,
.counter__input:focus {
    outline: none;
}
@media (max-width: 480px) {
    .counter__input {
        font-size: 13px;
    }
}
/*------------------------------additional-info-----------------------------------*/
.additional-info {
    display: flex;
    order:1;
    padding: 10px 0 0 0;
}
@media (max-width: 480px) {
    .additional-info {
        float: right;
        padding: 14px 37px 0 0;
    }
}
.additional-info__info-img{
    padding: 1px 4px 0 0;
}
@media (max-width: 480px) {
    .additional-info__info-img{
        padding: 0 6px 0 0;
    }
}
.additional-info__info-icon{
    height:13px;
    width:13px;
}
@media (max-width: 480px) {
    .additional-info__info-icon{
        height:18px;
        width:18px;
    }
}
.additional-info__info{
    line-height: 15px;
}
@media (max-width: 480px) {
    .additional-info__info{
        font-size: 12px;
        padding: 3px 0 0 0;
    }
}
